Repository bader/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @erichkeane,, @Fznamznon, @AlexeySotkin,, @AlexeySachkov, @dm-vodopyanov,, @AlexeySachkov,, @romanovvlad, @asavonic,, @vzakhari, @romanovvlad,, @pvchupin,, @kbobrovs, @mkinsner,, @jbrodman, @tovinkere,, @andykaylor

Update UsersManual.md
  sycl/doc/UsersManual.md
Owners: @pvchupin,, @kbobrovs

[SYCL] Optionally override addrspace map for SYCL device code
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGClass.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Move static variables to global address space by default
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Turn new address space rules by default
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/address-space-swap.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/debug-info-srcpos-kernel.cpp
  clang/test/CodeGenSYCL/device-functions.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/SemaSYCL/spir-enum.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Put string literals to private address space
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Insert implicit addrspacecast when casting between different AS
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Insert addrspacecast for conditional operator
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL][AddressSpace] Fix address space of a static variable initializer
  clang/lib/CodeGen/CGDecl.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Fix address space of return values
  clang/lib/CodeGen/CGStmt.cpp
  clang/test/CodeGenSYCL/address-space-of-returns.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Fix address space in generation of llvm.invariant.start intrinsic
  clang/lib/CodeGen/CGDeclCXX.cpp
  clang/test/CodeGenSYCL/Inputs/sycl.hpp
  clang/test/CodeGenSYCL/const-wg-init.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Remove ASFixer and DISABLE_INFER_AS support (#893)
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGStmt.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/device-functions.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/SemaSYCL/spir-enum.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Fix unique-stable-name test after rebase
  clang/test/CodeGenSYCL/unique-stable-name.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Expand assertion for SYCL
  clang/lib/CodeGen/CGDeclCXX.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Insert addrspacecast for comparing operands
  clang/lib/CodeGen/CGExprScalar.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Re-use OpenCL address space attributes for SYCL (#1581)
  clang/include/clang/AST/Type.h
  clang/lib/Basic/Targets/SPIR.h
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/SemaOpenCLCXX/address-space-lambda.cl
  clang/test/SemaSYCL/address-space-parameter-conversions.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Added SYCLDevice env to triple.
  llvm/include/llvm/ADT/Triple.h
  llvm/lib/Support/Triple.cpp
Owners: @bader

[SYCL][Test] Clang tests clean up (#979)
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-of-returns.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/address-space-swap.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/const-wg-init.cpp
  clang/test/CodeGenSYCL/device-functions.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
  clang/test/SemaSYCL/kernel-attribute-on-non-sycl.cpp
  clang/test/SemaSYCL/kernel-attribute.cpp
Owners: @erichkeane,, @Fznamznon

[SYCL][NFC] Added SPIRSYCLDevice target.
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/SPIR.h
Owners: @erichkeane,, @Fznamznon

Fixes.
  clang/lib/CodeGen/CGCall.cpp
  clang/test/CodeGenSYCL/Inputs/sycl.hpp
Owners: @erichkeane,, @Fznamznon

[SYCL] Implement OpenCL kernel function generation
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Parse/ParseAST.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/CodeGenSYCL/Inputs/sycl.hpp
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/basic-opencl-kernel.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
  clang/test/SemaSYCL/Inputs/sycl.hpp
  clang/test/SemaSYCL/accessors-targets.cpp
  clang/test/SemaSYCL/basic-opencl-kernel.cpp
  clang/test/SemaSYCL/built-in-type-kernel-arg.cpp
  clang/test/SemaSYCL/fake-accessors.cpp
  clang/test/SemaSYCL/mangle-kernel.cpp
Owners: @erichkeane,, @Fznamznon

Fix tests
  clang/lib/AST/ItaniumMangle.cpp
  clang/test/CodeGenSYCL/Inputs/sycl.hpp
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-of-returns.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/address-space-swap.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/const-wg-init.cpp
  clang/test/CodeGenSYCL/debug-info-srcpos-kernel.cpp
  clang/test/CodeGenSYCL/device-functions.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
  clang/test/CodeGenSYCL/unique-stable-name.cpp
Owners: @erichkeane,, @Fznamznon

Revert "[SYCL] Implement OpenCL kernel function generation"
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Parse/ParseAST.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/CodeGenSYCL/basic-opencl-kernel.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
  clang/test/SemaSYCL/Inputs/sycl.hpp
  clang/test/SemaSYCL/accessors-targets.cpp
  clang/test/SemaSYCL/basic-opencl-kernel.cpp
  clang/test/SemaSYCL/built-in-type-kernel-arg.cpp
  clang/test/SemaSYCL/fake-accessors.cpp
  clang/test/SemaSYCL/mangle-kernel.cpp
Owners: @erichkeane,, @Fznamznon

Test fixes.
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/device-functions.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
Owners: @erichkeane,, @Fznamznon

test
  clang/lib/Analysis/AnalysisDeclContext.cpp
  clang/test/SemaSYCL/accessor_inheritance.cpp
  sycl/include/CL/sycl/detail/common.hpp
  sycl/include/CL/sycl/detail/pi.h
Owners: @erichkeane,, @Fznamznon, @romanovvlad,, @bader

[DAE] Remove unnecessary check for sycldevice environment
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  llvm/test/Transforms/DeadArgElim/sycl-kernels-neg.ll
  llvm/test/Transforms/DeadArgElim/sycl-kernels.ll
Owners: @bader

Remove SYCL specific SPIR target data information.
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/SPIR.h
Owners: @erichkeane,, @Fznamznon

Remove `sycldevice` environment triple component from llvm tests.
  llvm/test/SYCLLowerIR/esimd_global.ll
  llvm/test/SYCLLowerIR/esimd_global_crash.ll
  llvm/test/SYCLLowerIR/esimd_global_undef.ll
  llvm/test/SYCLLowerIR/esimd_lower_intrins.ll
  llvm/test/SYCLLowerIR/esimd_lower_spirv_intrins.ll
  llvm/test/SYCLLowerIR/esimd_subroutine.ll
  llvm/test/SYCLLowerIR/esimd_subroutine_extern.ll
  llvm/test/SYCLLowerIR/group_local_memory.ll
  llvm/test/SYCLLowerIR/scalar_fptoui.ll
  llvm/test/Transforms/SPIRITTAnnotations/itt_atomic_load.ll
  llvm/test/Transforms/SPIRITTAnnotations/itt_atomic_store.ll
  llvm/test/Transforms/SPIRITTAnnotations/itt_barrier.ll
  llvm/test/Transforms/SPIRITTAnnotations/itt_start_finish.ll
  llvm/test/tools/sycl-post-link/auto-module-split-1.ll
  llvm/test/tools/sycl-post-link/auto-module-split-2.ll
  llvm/test/tools/sycl-post-link/auto-module-split-3.ll
  llvm/test/tools/sycl-post-link/basic-module-split.ll
  llvm/test/tools/sycl-post-link/erase_used.ll
  llvm/test/tools/sycl-post-link/ir-output-only.ll
  llvm/test/tools/sycl-post-link/omit_kernel_args.ll
  llvm/test/tools/sycl-post-link/one-kernel-per-module.ll
  llvm/test/tools/sycl-post-link/spec-constants/SYCL-2020-zeroinitializer.ll
  llvm/test/tools/sycl-post-link/spec-constants/bool.ll
  llvm/test/tools/sycl-post-link/spec-constants/composite-O0.ll
  llvm/test/tools/sycl-post-link/spec-constants/composite-O2.ll
  llvm/test/tools/sycl-post-link/spec-constants/composite-default-value.ll
  llvm/test/tools/sycl-post-link/spec-constants/composite-no-sret.ll
  llvm/test/tools/sycl-post-link/spec-constants/multiple-composite-usages-2.ll
  llvm/test/tools/sycl-post-link/spec-constants/multiple-composite-usages.ll
  llvm/test/tools/sycl-post-link/spec-constants/multiple-scalar-usages.ll
  llvm/test/tools/sycl-post-link/spec-constants/multiple-sym-id-usages.ll
  llvm/test/tools/sycl-post-link/spec-constants/scalar-O0.ll
  llvm/test/tools/sycl-post-link/spec-constants/scalar-O2.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/basic-esimd-lower.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/basic-sycl-esimd-split.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/no-sycl-esimd-split.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/sycl-esimd-split-per-kernel.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/sycl-esimd-split-per-source.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/sycl-esimd-split-symbols.ll
Owners: @bader

[Driver] Replace `sycldevice` environment triple component with offload kind check.
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/test/Driver/clang-offload-bundler.c
  clang/test/Driver/clang-offload-wrapper.c
  clang/test/Driver/mlong-double-128.c
  clang/test/Driver/mlong-double-64.c
  clang/test/Driver/sycl-device-lib-win.cpp
  clang/test/Driver/sycl-device-lib.cpp
  clang/test/Driver/sycl-device.cpp
  clang/test/Driver/sycl-intelfpga-aoco-win.cpp
  clang/test/Driver/sycl-intelfpga-aoco.cpp
  clang/test/Driver/sycl-intelfpga-static-lib-win.cpp
  clang/test/Driver/sycl-intelfpga-static-lib.cpp
  clang/test/Driver/sycl-libspirv-invalid.cpp
  clang/test/Driver/sycl-libspirv.cpp
  clang/test/Driver/sycl-offload-intelfpga-emu.cpp
  clang/test/Driver/sycl-offload-intelfpga.cpp
  clang/test/Driver/sycl-offload-nvptx.cpp
  clang/test/Driver/sycl-offload-static-lib-2.cpp
  clang/test/Driver/sycl-offload-static-lib.cpp
  clang/test/Driver/sycl-offload-win.c
  clang/test/Driver/sycl-offload-with-split.c
  clang/test/Driver/sycl-offload.c
  clang/test/Driver/sycl-offload.cpp
  clang/test/Driver/sycl-preprocess.cpp
  clang/test/Driver/sycl-spirv-ext.c
  clang/test/Driver/sycl-unique-prefix.cpp
  clang/test/Driver/sycl.c
Owners: @erichkeane,, @Fznamznon

[libdevice] Remove `sycldevice` environment component.
  libdevice/cmake/modules/SYCLLibdevice.cmake
  libdevice/test/sycl_noinline.txt
  libdevice/test/sycl_noinline_win.txt
Owners: @asavonic,, @vzakhari

Updated documentation
  opencl/opencl-aot/README.md
  sycl/doc/CompilerAndRuntimeDesign.md
  sycl/doc/GetStartedGuide.md
  sycl/doc/UsersManual.md
  sycl/doc/extensions/C-CXX-StandardLibrary/C-CXX-StandardLibrary.rst
Owners: @dm-vodopyanov,, @AlexeySachkov,, @romanovvlad, @pvchupin,, @kbobrovs, @mkinsner,, @jbrodman

[SYCL] Update sycl tests
  sycl/include/CL/sycl/ONEAPI/matrix/matrix.hpp
  sycl/test/CMakeLists.txt
  sycl/test/lit.cfg.py
  sycl/test/on-device/basic_tests/specialization_constants/non_native/accelerator.cpp
  sycl/test/on-device/basic_tests/specialization_constants/non_native/cpu.cpp
  sycl/test/on-device/basic_tests/specialization_constants/non_native/cuda.cpp
  sycl/test/on-device/basic_tests/specialization_constants/non_native/gpu.cpp
  sycl/test/on-device/lit.cfg.py
Owners: @romanovvlad,, @bader

Remove `sycldevice` environment component.
  llvm/include/llvm/ADT/Triple.h
  llvm/lib/Support/Triple.cpp
Owners: @bader

Fix formatting.
  clang/lib/Basic/Targets/SPIR.h
Owners: @erichkeane,, @Fznamznon

[NFC] Rename variable.
  clang/lib/Driver/ToolChains/Clang.cpp
Owners: @erichkeane,, @Fznamznon

Update CUDA triple.
  llvm/test/CodeGen/NVPTX/global-offset-dbg.ll
  llvm/test/CodeGen/NVPTX/global-offset-invalid-triple.ll
  llvm/test/CodeGen/NVPTX/global-offset-multiple-calls-from-one-function.ll
  llvm/test/CodeGen/NVPTX/global-offset-multiple-entry-points.ll
  llvm/test/CodeGen/NVPTX/global-offset-simple.ll
  llvm/test/CodeGen/NVPTX/global-offset-valid-triple.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-basic-transformation.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-invalid-triple.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-multiple-functions.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-no-entry-points.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-preserves-types.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-triple.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-valid-triple.ll
  llvm/test/SYCLLowerIR/cast_shadow.ll
  sycl/doc/CompilerAndRuntimeDesign.md
  sycl/doc/GetStartedGuide.md
  sycl/doc/UsersManual.md
  sycl/test/esimd/odr.cpp
  sycl/test/lit.cfg.py
  sycl/test/on-device/lit.cfg.py
Owners: @bader, @pvchupin,, @kbobrovs, @romanovvlad,

.github/CODEOWNERS:

* @bader

clang/ @erichkeane, @Fznamznon

llvm-spirv/ @AlexeySotkin, @AlexeySachkov

opencl-aot/ @dm-vodopyanov, @AlexeySachkov, @romanovvlad

libdevice/ @asavonic, @vzakhari

sycl/ @romanovvlad, @bader

sycl/doc/ @pvchupin, @kbobrovs

sycl/doc/extensions/ @mkinsner, @jbrodman

xpti/ @tovinkere, @andykaylor
